In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
projects = pd.read_csv('data/project.csv')
addresses = pd.read_csv('data/ProjectAddress.csv')
configurations =pd.read_csv('data/ProjectConfiguration.csv')
variants = pd.read_csv('data/projectconfigurationvariant.csv')

In [5]:
print(projects.shape)
projects.head()

(31, 16)

,id,projectType,projectName,projectCategory,slug,slugId,status,projectAge,reraId,countryId,stateId,cityId,localityId,subLocalityId,projectSummary,possessionDate
0,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,UNDER_CONSTRUCTION,NaN,"[""P99000056045""]",cmfw6qdtd0000vx6uelma0klf,cmf3ze56e0002vcf8e0hjqnsw,cmf6nu3ru000gvcxspxarll3v,cmf6pksk30035vcxs7r2mo3iq,cmfdkuymm0001vc90iiyzkr8d,NaN,2025-09-28 00:00:00
1,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,STANDALONE,pristine02-modelcolony-shivajinagar-pune-428955,NaN,READY_TO_MOVE,0.0,"[""P52100032109""]",cmf3zcoe80000vcf8sd4qfpwd,cmf3ze56e0002vcf8e0hjqnsw,cmf6nu3ru000gvcxspxarll3v,cmf6pk0cn0033vcxshxbf5hdh,cmfdn705v001pvc90uyle9m34,NaN,NaN
2,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,Gurukripa,COMPLEX,gurukripa-ashoknagar-chembur-mumbai-086047,NaN,UNDER_CONSTRUCTION,NaN,"[""[\""P51800047648\""]""]",cmf3zcoe80000vcf8sd4qfpwd,cmf3ze56e0002vcf8e0hjqnsw,cmf50r5a00000vcj0k1iuocuu,cmf51ieam0001vcj0kljobiod,cmf51ix980003vcj0z7abv17k,NaN,NaN
3,cmfaxq2oo0020vc1806nmle00,RESIDENTIAL,Hari om,STANDALONE,hari-om-ashoknagar-chembur-mumbai-650559,NaN,UNDER_CONSTRUCTION,NaN,"[""P51800066536""]",cmf3zcoe80000vcf8sd4qfpwd,cmf3ze56e0002vcf8e0hjqnsw,cmf50r5a00000vcj0k1iuocuu,cmf51ieam0001vcj0kljobiod,cmfcec5ph007ivca007lzj3b3,NaN,NaN
4,cmfaycwy70036vc18ppmb8mwh,RESIDENTIAL,Om makarand heights,STANDALONE,om-makarand-heights-ashoknagar-chembur-mumbai-...,NaN,UNDER_CONSTRUCTION,NaN,"[""P51800052217""]",cmf3zcoe80000vcf8sd4qfpwd,cmf3ze56e0002vcf8e0hjqnsw,cmf50r5a00000vcj0k1iuocuu,cmf6oxndf0021vcxsvog0r7bk,cmfcewd9m007svca0b4pla35a,NaN,2025-09-21 00:00:00

In [6]:
print(addresses.shape)
addresses.head()

(31, 5)

,id,projectId,landmark,fullAddress,pincode
0,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,Babys school,Mumbai chembur,411017
1,cmf5r6hv30008vxptq5el3h5n,cmf5r6hv00001vxptnfichhfl,Sai nagar,"sr no 13 beside godrej, opposite to mca stadiu...",412101
2,cmfawdrnt000kvc18h3j7e93j,cmfawdrno0007vc18l0fm0z2j,Sindhi Society,"Sindhi Society, Near Swami Vivekanand Jr Colle...",400071
3,cmfaxq2ot002avc18ild77rjg,cmfaxq2oo0020vc1806nmle00,Sindhi Society,"Cts 300, plot no 37, opposite midtown 71, Sind...",400069
4,cmfaycwya003hvc18yc5gtwtc,cmfaycwy70036vc18ppmb8mwh,Hind high school,"104, Yashvant Seth Jadhav Marg, Gauri Shankar ...",400075

In [7]:
projects.isnull().sum()

id                  0
projectType         0
projectName         0
projectCategory     0
slug                0
slugId             31
status              0
projectAge         26
reraId              0
countryId           0
stateId             0
cityId              0
localityId          0
subLocalityId       0
projectSummary     22
possessionDate     24
dtype: int64

In [8]:
projects =projects.merge(addresses,left_on='id',right_on='projectId')
print(projects.shape)
projects.head()

(31, 21)

,id_x,projectType,projectName,projectCategory,slug,slugId,status,projectAge,reraId,countryId,...,cityId,localityId,subLocalityId,projectSummary,possessionDate,id_y,projectId,landmark,fullAddress,pincode
0,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,UNDER_CONSTRUCTION,NaN,"[""P99000056045""]",cmfw6qdtd0000vx6uelma0klf,...,cmf6nu3ru000gvcxspxarll3v,cmf6pksk30035vcxs7r2mo3iq,cmfdkuymm0001vc90iiyzkr8d,NaN,2025-09-28 00:00:00,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,Babys school,Mumbai chembur,411017
1,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,STANDALONE,pristine02-modelcolony-shivajinagar-pune-428955,NaN,READY_TO_MOVE,0.0,"[""P52100032109""]",cmf3zcoe80000vcf8sd4qfpwd,...,cmf6nu3ru000gvcxspxarll3v,cmf6pk0cn0033vcxshxbf5hdh,cmfdn705v001pvc90uyle9m34,NaN,NaN,cmf5r6hv30008vxptq5el3h5n,cmf5r6hv00001vxptnfichhfl,Sai nagar,"sr no 13 beside godrej, opposite to mca stadiu...",412101
2,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,Gurukripa,COMPLEX,gurukripa-ashoknagar-chembur-mumbai-086047,NaN,UNDER_CONSTRUCTION,NaN,"[""[\""P51800047648\""]""]",cmf3zcoe80000vcf8sd4qfpwd,...,cmf50r5a00000vcj0k1iuocuu,cmf51ieam0001vcj0kljobiod,cmf51ix980003vcj0z7abv17k,NaN,NaN,cmfawdrnt000kvc18h3j7e93j,cmfawdrno0007vc18l0fm0z2j,Sindhi Society,"Sindhi Society, Near Swami Vivekanand Jr Colle...",400071
3,cmfaxq2oo0020vc1806nmle00,RESIDENTIAL,Hari om,STANDALONE,hari-om-ashoknagar-chembur-mumbai-650559,NaN,UNDER_CONSTRUCTION,NaN,"[""P51800066536""]",cmf3zcoe80000vcf8sd4qfpwd,...,cmf50r5a00000vcj0k1iuocuu,cmf51ieam0001vcj0kljobiod,cmfcec5ph007ivca007lzj3b3,NaN,NaN,cmfaxq2ot002avc18ild77rjg,cmfaxq2oo0020vc1806nmle00,Sindhi Society,"Cts 300, plot no 37, opposite midtown 71, Sind...",400069
4,cmfaycwy70036vc18ppmb8mwh,RESIDENTIAL,Om makarand heights,STANDALONE,om-makarand-heights-ashoknagar-chembur-mumbai-...,NaN,UNDER_CONSTRUCTION,NaN,"[""P51800052217""]",cmf3zcoe80000vcf8sd4qfpwd,...,cmf50r5a00000vcj0k1iuocuu,cmf6oxndf0021vcxsvog0r7bk,cmfcewd9m007svca0b4pla35a,NaN,2025-09-21 00:00:00,cmfaycwya003hvc18yc5gtwtc,cmfaycwy70036vc18ppmb8mwh,Hind high school,"104, Yashvant Seth Jadhav Marg, Gauri Shankar ...",400075

In [9]:
projects.drop('id_x',axis=1,inplace=True)
projects.rename(columns={'id_y':'id'},inplace=True)
projects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   projectType      31 non-null     object
 1   projectName      31 non-null     object
 2   projectCategory  31 non-null     object
 3   slug             31 non-null     object
 4   slugId           0 non-null      float64
 5   status           31 non-null     object
 6   projectAge       5 non-null      float64
 7   reraId           31 non-null     object
 8   countryId        31 non-null     object
 9   stateId          31 non-null     object
 10  cityId           31 non-null     object
 11  localityId       31 non-null     object
 12  subLocalityId    31 non-null     object
 13  projectSummary   9 non-null      object
 14  possessionDate   7 non-null      object
 15  id               31 non-null     object
 16  projectId        31 non-null     object
 17  landmark         31 non-null     object
 18  fullAddress      31 non-null     object
 19  pincode          31 non-null     int64
dtypes: float64(2), int64(1), object(17)
memory usage: 5.0+ KB

In [10]:
project_new = projects[['id','projectId','projectType','projectName','status','landmark','fullAddress','pincode']]

In [11]:
project_new.head(2)

,id,projectId,projectType,projectName,status,landmark,fullAddress,pincode
0,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,UNDER_CONSTRUCTION,Babys school,Mumbai chembur,411017
1,cmf5r6hv30008vxptq5el3h5n,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,READY_TO_MOVE,Sai nagar,"sr no 13 beside godrej, opposite to mca stadiu...",412101

In [12]:
import re 

junk_exp = r'^[a-zA-Z]+$'

project_new['landmark'] = project_new['landmark'].replace(junk_exp,np.nan,regex=True)
#project_new

C:\Users\rahul\AppData\Local\Temp\ipykernel_10468\82054007.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project_new['landmark'] = project_new['landmark'].replace(junk_exp,np.nan,regex=True)

In [13]:
project_new.dropna(subset=['landmark'],inplace=True)
project_new.shape

C:\Users\rahul\AppData\Local\Temp\ipykernel_10468\616451811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project_new.dropna(subset=['landmark'],inplace=True)

(26, 8)

In [14]:
project_new.head(2)

,id,projectId,projectType,projectName,status,landmark,fullAddress,pincode
0,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,UNDER_CONSTRUCTION,Babys school,Mumbai chembur,411017
1,cmf5r6hv30008vxptq5el3h5n,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,READY_TO_MOVE,Sai nagar,"sr no 13 beside godrej, opposite to mca stadiu...",412101

In [15]:
print(configurations.shape)
configurations.head()

(60, 5)

,id,projectId,propertyCategory,type,customBHK
0,cmf53kkzz000ivcu89r5399s4,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,1BHK,NaN
1,cmf53kl00000kvcu86ivy65di,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,2BHK,NaN
2,cmf5r6hv20004vxpt0l657blu,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,2BHK,2BHK
3,cmfawdrnq000avc18qcvaxzi9,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,1BHK,1BHK
4,cmfawdrnr000dvc188hupv4yy,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,3BHK,3BHK

In [16]:
print(variants.shape)
variants.head()

(83, 20)

,id,configurationId,bathrooms,privateBathrooms,publicBathrooms,balcony,furnishedType,furnishingType,lift,ageOfProperty,parkingType,listingType,floorPlanImage,carpetArea,price,propertyImages,maintenanceCharges,aboutProperty,createdAt,updatedAt
0,cmf5r6hv20005vxpt3yfnl2qp,cmf5r6hv20004vxpt0l657blu,12,NaN,NaN,3.0,UNFURNISHED,[],False,NaN,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,972.00,120000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",faded,about property,2025-09-04 18:42:08.748,2025-09-04 18:42:08.748
1,cmf5r6hv20006vxptcx3lmm05,cmf5r6hv20004vxpt0l657blu,3,NaN,NaN,2.0,UNFURNISHED,[],False,NaN,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,188.73,210000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,fsdaffdsafsfdddsa,2025-09-04 18:42:08.748,2025-09-04 18:42:08.748
2,cmfawdrnq000bvc188680qjyx,cmfawdrnq000avc18qcvaxzi9,1,NaN,NaN,1.0,UNFURNISHED,[],False,NaN,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,426.57,13000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,na,2025-09-08 09:06:36.995,2025-09-08 09:06:36.995
3,cmfawdrnr000cvc1897rpsu1b,cmfawdrnq000avc18qcvaxzi9,1,NaN,NaN,1.0,UNFURNISHED,[],False,NaN,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,460.80,15000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,na,2025-09-08 09:06:36.995,2025-09-08 09:06:36.995
4,cmfawdrnr000evc18jwvlery4,cmfawdrnr000dvc188hupv4yy,3,NaN,NaN,2.0,UNFURNISHED,[],False,NaN,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,893.08,29000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,na,2025-09-08 09:06:36.995,2025-09-08 09:06:36.995

In [17]:
configurations =configurations.merge(variants,left_on='id',right_on='configurationId')

In [18]:
print(configurations.shape)
configurations.head(2)

(83, 25)

,id_x,projectId,propertyCategory,type,customBHK,id_y,configurationId,bathrooms,privateBathrooms,publicBathrooms,...,parkingType,listingType,floorPlanImage,carpetArea,price,propertyImages,maintenanceCharges,aboutProperty,createdAt,updatedAt
0,cmf53kkzz000ivcu89r5399s4,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,1BHK,NaN,cmff8vfoq0013vxp7h3onmg46,cmf53kkzz000ivcu89r5399s4,1,NaN,NaN,...,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,123.0,11111111,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,jjhhhu,2025-09-11 10:07:21.386,2025-09-11 10:07:21.386
1,cmf53kl00000kvcu86ivy65di,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,2BHK,NaN,cmff8vjd4001dvxp7tq21djvf,cmf53kl00000kvcu86ivy65di,0,NaN,NaN,...,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,456.0,22222222,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,nbhjg,2025-09-11 10:07:26.152,2025-09-11 10:07:26.152

In [19]:
config_new = configurations[['projectId','type','price']]

In [20]:
print(config_new.shape)
config_new.head(2)

(83, 3)

                   projectId  type     price
0  cmf53kkzy000fvcu8tx8jwjmr  1BHK  11111111
1  cmf53kkzy000fvcu8tx8jwjmr  2BHK  22222222

In [21]:
project_merge = project_new.merge(config_new,on ='projectId')
print(project_merge.shape)
project_merge.head(2)

(74, 10)

,id,projectId,projectType,projectName,status,landmark,fullAddress,pincode,type,price
0,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,UNDER_CONSTRUCTION,Babys school,Mumbai chembur,411017,1BHK,11111111
1,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,UNDER_CONSTRUCTION,Babys school,Mumbai chembur,411017,2BHK,22222222

In [22]:
def map_city(pincode):
    pincode_str = str(pincode)
    if pincode_str.startswith('411') or pincode_str.startswith('412'):
        return 'Pune'
    elif pincode_str.startswith('400'):
        return 'Mumbai'
    else:
        return 'Other'

In [23]:
project_merge['city'] = project_merge['pincode'].apply(map_city)

In [24]:
print(project_merge.shape)
project_merge.head(2)

(74, 11)

,id,projectId,projectType,projectName,status,landmark,fullAddress,pincode,type,price,city
0,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,UNDER_CONSTRUCTION,Babys school,Mumbai chembur,411017,1BHK,11111111,Pune
1,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,UNDER_CONSTRUCTION,Babys school,Mumbai chembur,411017,2BHK,22222222,Pune

In [25]:
project_merge['search_text'] = project_merge['projectName'] + ' ' + project_merge['status'] + ' ' + project_merge['landmark'] + ' ' + project_merge['fullAddress'] + ' ' + project_merge['city'] + ' ' + project_merge['type'].astype(str) + ' ' + project_merge['price'].astype(str)

In [29]:
project_final = project_merge[['projectName','status','landmark','fullAddress','city','type','price','search_text']]
print(project_final.shape)
project_final.head(10)

(74, 8)

,projectName,status,landmark,fullAddress,city,type,price,search_text
0,Ashwini,UNDER_CONSTRUCTION,Babys school,Mumbai chembur,Pune,1BHK,11111111,Ashwini UNDER_CONSTRUCTION Babys school Mumbai...
1,Ashwini,UNDER_CONSTRUCTION,Babys school,Mumbai chembur,Pune,2BHK,22222222,Ashwini UNDER_CONSTRUCTION Babys school Mumbai...
2,Pristine02,READY_TO_MOVE,Sai nagar,"sr no 13 beside godrej, opposite to mca stadiu...",Pune,2BHK,120000000,Pristine02 READY_TO_MOVE Sai nagar sr no 13 b...
3,Pristine02,READY_TO_MOVE,Sai nagar,"sr no 13 beside godrej, opposite to mca stadiu...",Pune,2BHK,210000000,Pristine02 READY_TO_MOVE Sai nagar sr no 13 b...
4,Gurukripa,UNDER_CONSTRUCTION,Sindhi Society,"Sindhi Society, Near Swami Vivekanand Jr Colle...",Mumbai,1BHK,13000000,Gurukripa UNDER_CONSTRUCTION Sindhi Society Si...
5,Gurukripa,UNDER_CONSTRUCTION,Sindhi Society,"Sindhi Society, Near Swami Vivekanand Jr Colle...",Mumbai,1BHK,15000000,Gurukripa UNDER_CONSTRUCTION Sindhi Society Si...
6,Gurukripa,UNDER_CONSTRUCTION,Sindhi Society,"Sindhi Society, Near Swami Vivekanand Jr Colle...",Mumbai,3BHK,29000000,Gurukripa UNDER_CONSTRUCTION Sindhi Society Si...
7,Gurukripa,UNDER_CONSTRUCTION,Sindhi Society,"Sindhi Society, Near Swami Vivekanand Jr Colle...",Mumbai,3BHK,29000000,Gurukripa UNDER_CONSTRUCTION Sindhi Society Si...
8,Gurukripa,UNDER_CONSTRUCTION,Sindhi Society,"Sindhi Society, Near Swami Vivekanand Jr Colle...",Mumbai,2BHK,26000000,Gurukripa UNDER_CONSTRUCTION Sindhi Society Si...
9,Gurukripa,UNDER_CONSTRUCTION,Sindhi Society,"Sindhi Society, Near Swami Vivekanand Jr Colle...",Mumbai,2BHK,33000000,Gurukripa UNDER_CONSTRUCTION Sindhi Society Si...

In [30]:
project_final.to_csv('property_clean.csv',index=False)